
.container                                  { position: relative; width: 100%; margin: 0 auto; padding: 0; }
.column, .columns                           { float: left; display: inline; margin: 0; }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container .one.column                      { width: 6.25%;  } 
.container .two.columns                     { width: 12.5%; } 
.container .three.columns                   { width: 18.75%; } 
.container .four.columns                    { width: 25%; }
.container .five.columns                    { width: 31.25%; } 
.container .six.columns                     { width: 37.5%; } 
.container .seven.columns                   { width: 43.7%; } 
.container .eight.columns                   { width: 50%; }
.container .nine.columns                    { width: 56.25%; } 
.container .ten.columns                     { width: 62.5%; }
.container .eleven.columns                  { width: 68.75%; } 
.container .twelve.columns                  { width: 75%; } 
.container .thirteen.columns                { width: 81.25%; }
.container .fourteen.columns                { width: 87%; } 
.container .fifteen.columns                 { width: 93.75%; } 
.container .sixteen.columns                 { width: 100%; } 

.container .one-third.column                { width: 33.33333333%; } 
.container .two-thirds.column               { width: 66.66666666%; }

/* Offsets  */
.container .offset-by-one                   { padding-left: 6.25%;  } 
.container .offset-by-two                   { padding-left: 12.5%; } 
.container .offset-by-three                 { padding-left: 18.75%; }
.container .offset-by-four                  { padding-left: 25%; } 
.container .offset-by-five                  { padding-left: 31.25%; } 
.container .offset-by-six                   { padding-left: 37.5%; } 
.container .offset-by-seven                 { padding-left: 43.7%; }
.container .offset-by-eight                 { padding-left: 50%; } 
.container .offset-by-nine                  { padding-left: 56.25%; }
.container .offset-by-ten                   { padding-left: 62.5%; }
.container .offset-by-eleven                { padding-left: 68.75%; }
.container .offset-by-twelve                { padding-left: 75%; } 
.container .offset-by-thirteen              { padding-left: 81.25%; } 
.container .offset-by-fourteen              { padding-left: 87.5%; } 
.container .offset-by-fifteen               { padding-left: 93.75%; }



/*  (Portrait)
================================================== */

@media only screen and (orientation : portrait) {
	.container { width: 100%; }
	.columns, .column { margin: 0; }

	.container .one.column,
	.container .two.columns,
	.container .three.columns,
	.container .four.columns,
	.container .five.columns,
	.container .six.columns,
	.container .seven.columns,
	.container .eight.columns,
	.container .nine.columns,
	.container .ten.columns,
	.container .eleven.columns,
	.container .twelve.columns,
	.container .thirteen.columns,
	.container .fourteen.columns,
	.container .fifteen.columns,
	.container .sixteen.columns,
	.container .one-third.column,
	.container .two-thirds.column  { width: 100%; } /*300px*/

	/* Offsets */
	.container .offset-by-one,
	.container .offset-by-two,
	.container .offset-by-three,
	.container .offset-by-four,
	.container .offset-by-five,
	.container .offset-by-six,
	.container .offset-by-seven,
	.container .offset-by-eight,
	.container .offset-by-nine,
	.container .offset-by-ten,
	.container .offset-by-eleven,
	.container .offset-by-twelve,
	.container .offset-by-thirteen,
	.container .offset-by-fourteen,
	.container .offset-by-fifteen { padding-left: 0; }

}


