
.msg-container{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: table;
	position:absolute;
	top:0;bottom:0;left:0;right:0;
	background: #fff;
}

.msg-body{
	opacity: 0;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	width: 100%;
	max-width: 700px;
	max-height: 700px;
	background: #222;
}
.section{
	margin: 0 auto;
	padding: 0 2%;
	@media only screen
	and (orientation: landscape){
		max-width: 400px;
	}

	@media only screen 
	and (min-height : 500px){
		max-width: 700px;
	}

}
.output{
	line-height: 1em;
	position: relative;
	width: 100%;
	font-size: 45px;

	@media only screen
	and (min-width: 500px){
		font-size: 60px;
	}
	@media only screen
	and (min-width: 700px){
		font-size: 70px;
	}


	img{
			width: 100%;
		}
	h2{
		font-size: inherit;
		position: absolute;
		width: 100%;
		margin: 0;
		padding: 5px 0;
		text-align: center;
		font-weight: bold;
		color: #fff;
		text-shadow:
			-2px -2px 0 #000,
			2px -2px 0 #000,
			-2px 2px 0 #000,
			2px 2px 0 #000;
		
		&.top{
			top: 0;
		}
		&.bottom{
			bottom: 0;
			margin-bottom: 20px;
		}
	}
}


.message-cta{
	@extend %link;
	display: inline-block;
	bottom: 0;
	left: 0;
	text-align: left;
	color: $brandHL;
	border: $brand;
	font-size: 13px;
	width: 40%;

	&.right{
		float: right;
		text-align: right;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .msg-body .output h2{
		text-shadow: none;
		-webkit-text-stroke-width: 2px;
	 	-webkit-text-stroke-color: black;
	}
}
