#create-msg{

	label{
		color: $bodyColor;
	}
	
	.cta-find-a-gif{
			@include border-radius(5px);
			height: 70px;
			width: 45%;
			line-height: 65px;
			color: $brand;
			float: left;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			border: 1px dashed $bodyColor;
			text-align: center;
			font-family: $headingFont;
			font-weight: bold;
	}
	.cta-find-a-gif.found{
			@include border-radius(5px);
			float: left;
			background-color: $dark;
			text-indent: -999em;
	}
	
	input[type="submit"]{
		@include cta($white, $brand, $brandHL, $headingFont);
		margin-top: 18px;
		float: right;
		width: 45%;
	}

	#textMessage{
		padding: 10px;
		height: 75px;
	}
	
}


