#create-msg{

	.cta-find-a-gif{
			@include border-radius(5px);
			height: 70px;
			width: 45%;
			float: left;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			border: 2px dotted #aaa;
			text-align: center;
			line-height: 50px;
	}
	.cta-find-a-gif.found{
			@include border-radius(5px);
			color: #fff;
			font-family: $headingFont;
			font-weight: bold;
			font-size: 1.3em;
			height: 50px;
			width: 45%;
			float: left;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: $dark;
			border: 2px dotted #aaa;
			text-align: center;
	}
	
	input[type="submit"]{
		@include cta($white, $brand2nd, $brand2ndHL, $headingFont);
		margin-top: 10px;
		float: right;
		width: 45%;
	}

	#textMessage{
		padding: 10px;
		height: 75px;
	}
	
}


