/*COLORS*/
$bodyColor: #888;
$white: rgb(255,255,255);			//#fff;
$black: rgb(0,0,0);		 				//#000;
$dark: rgb(34,34,34);					//#222
/*$brand: rgb(21,123,178);			//#157BB2*/
/*$brandHL: rgb(0,166,255);			//#00A6FF*/
$brand: rgb(234,132,0); 		//#FF8F00
$brandHL: rgb(255,155,25);	//#FF9B19

/*BREAKPOINTS*/
$tablet: 600px;
$tabletWide: 900px;
$desktop: 960px;
$desktopWide: 1140px;


/*FONTS*/
$bodyFont: sans-serif;
$headingFont: Impact, Arial;
$formFont: Arial, sans-serif;


/*Layout*/
$pagePadding: 20px 5%;
$navHeightMobile: 45px;

@import 'compass';
@import 'compass/reset';
@import "compass/css3/user-interface";
@import 'global/grid';
@import 'global/typography';
@import 'global/mixins';
@import 'global/forms';
@import 'pages/appMain';
