<header class="wrapper" >
	<div class="hamburger" type="button" data-toggle="collapse" data-target=".main-nav">
		<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
	</div>
	<nav class="main-nav">
		<li data-nav="nav:newMessage">New Message</li>
		<li data-nav="nav:messages">Old Messages</li>
		<li data-nav="nav:about">About Gif'em</li>
		<li data-nav="nav:home">Home</li>
	</nav>
</header>

<article id="content" class="container"></article>

<div class="search-giphy-container">GIPHY</div>
	
<footer class="wrapper"></footer>

<div id="loading">
	<div id="gif"></div>
</div>