<div class="intro">
	<h1>Gif'em</h1>
	<h2>
		A spin off the ol' Meme Generator. 
	</h2>
	<p>It's just something I did for fun and may or may not be updated to be more relevant.</p>
	
</div>
<div class="description">
	<section class="about-section">
		<h>
	</section>
</div>
<div class="pagepadding"></div>
