<h2>New message!</h2>
<form action="/message" id="new-msg-form">
	<legend>New Message Form</legend>
	<div class="form-element">
		<label for="sender">
			Your Name: <dfn title="required">*</dfn>
		</label>
		<input id="sender"  name="sender" placeholder="Jon Doe" type="text"  value="<%=sender%>" />
	</div>
	<div class="form-element">
		<label for="title">
			Recipient's Name: <dfn title="required">*</dfn>
		</label>
		<input id="recipient"  type="text"  name="recipient" required="required" placeholder="Jane Doe" value="<%=recipient %>"  />
	</div>
	<div class="form-element">
		<label for="textMessage">
			Message: <dfn title="required">*</dfn>
		</label>
		<textarea id="textMessage" name="textMessage" value="<%=textMessage %>" ></textarea>
	</div>
	<div class="form-element">
		
			<div class="cta-find-a-gif" 
			<%if(typeof imageData != 'undefined'){%>
				style="background-image: url('<%= imageData.small.url %>')" 
			<%}%>
			>Add a GIF</div>
		
	</div>
	<div class="form-element">
		<input id="submit-msg" type="submit" value="Submit">
	</div>
</form>	
<div class="ui-message">
	<h2>Let's go see your message</h2>
</div>
