<div class="intro">
	<h1>NOW THAT I HAVE YOUR ATTENTION</h1>
</div>
<div class="description">
	<p class="bodycopy">
		Trying to get someone's attention in a less-than-subtle way?
		<br><br>Just create a new message and choose a GIF to get their attention
	</p>
</div>
<div class="pagepadding"></div>
