<div class="intro">
	<h1>NOW THAT I HAVE YOUR <strong>ATTENTION!!!</strong></h1>
</div>
<div class="description">
	<p class="bodycopy">
		Send someone a message that will slap them in the face!
	</p>
</div>
<div class="footer distribute">
	<span data-nav="nav:toggleSearch" class="cta search cta-find-a-gif">Search Giphy</span>
	<span data-nav="nav:newMessage" class="cta orange new">New Message</span>
</div>
<div class="pagepadding"></div>
