<div class="intro">
	<h1>Gif'em</h1>
</div>
<div class="description">
	<p class="bodycopy">
		You could send someone a gif, <br> or you could Gif'em!
	</p>
</div>
<div class="footer distribute">
	<span data-nav="nav:toggleSearch" class="cta search cta-find-a-gif">0xe801 Search Giphy</span>
	<span data-nav="nav:newMessage" class="cta orange new">0xe801 New Message</span>
</div>
<div class="pagepadding"></div>
