	<div id="home-logo" class="logo container">
		<h1 class="sb">H1</h1>
	</div>
	
	<div id="site-intro" class="container">
		<h2>#site-intro:</h1>
	</div>
	
	<div id="create-message" class="container">
		<h2>#create-message </h2>
	</div>
	
	<div id="previous-messages" class="container">
		<h2>#previous-messages:</h1>
	</div>
	
	<div class="pagepadding"></div>
