<form class="giphy-search"><input id="search-gifs" type="search" result=5 name=s></form>
<ul class="giphy-list">
	<% _.each(thumbs, function(thm, i) { 	%>
		<li class="view-giphy-thumb">
			<div data-id="<%-thm.id%>" style='background-image: url("<%-thm.small.still%>")'></div>
		</li>
	<% }); %>		
	
</ul>

<div class="pagepadding"></div>
