<header>
	<form class="giphy-search">
		<input id="search-gifs" type="search" placeholder="Search Giphy for .gifs" result=5 name=s>
	</form>
</header>
<div class="scrollContainer">
	<div class="scroll">
		<!-- gifs -->
	</div>
</div>
<footer>
	<div class="cancel">Cancel</div>
</footer>
