/*COLORS*/
/*BREAKPOINTS*/
/*FONTS*/
/*Layout*/
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, sass/global/_grid.scss */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* line 3, sass/global/_grid.scss */
.column, .columns {
  float: left;
  display: inline;
  margin: 0;
}

/* Nested Column Classes */
/* line 6, sass/global/_grid.scss */
.column.alpha, .columns.alpha {
  margin-left: 0;
}

/* line 7, sass/global/_grid.scss */
.column.omega, .columns.omega {
  margin-right: 0;
}

/* Base Grid */
/* line 10, sass/global/_grid.scss */
.container .one.column {
  width: 6.25%;
}

/* line 11, sass/global/_grid.scss */
.container .two.columns {
  width: 12.5%;
}

/* line 12, sass/global/_grid.scss */
.container .three.columns {
  width: 18.75%;
}

/* line 13, sass/global/_grid.scss */
.container .four.columns {
  width: 25%;
}

/* line 14, sass/global/_grid.scss */
.container .five.columns {
  width: 31.25%;
}

/* line 15, sass/global/_grid.scss */
.container .six.columns {
  width: 37.5%;
}

/* line 16, sass/global/_grid.scss */
.container .seven.columns {
  width: 43.7%;
}

/* line 17, sass/global/_grid.scss */
.container .eight.columns {
  width: 50%;
}

/* line 18, sass/global/_grid.scss */
.container .nine.columns {
  width: 56.25%;
}

/* line 19, sass/global/_grid.scss */
.container .ten.columns {
  width: 62.5%;
}

/* line 20, sass/global/_grid.scss */
.container .eleven.columns {
  width: 68.75%;
}

/* line 21, sass/global/_grid.scss */
.container .twelve.columns {
  width: 75%;
}

/* line 22, sass/global/_grid.scss */
.container .thirteen.columns {
  width: 81.25%;
}

/* line 23, sass/global/_grid.scss */
.container .fourteen.columns {
  width: 87%;
}

/* line 24, sass/global/_grid.scss */
.container .fifteen.columns {
  width: 93.75%;
}

/* line 25, sass/global/_grid.scss */
.container .sixteen.columns {
  width: 100%;
}

/* line 27, sass/global/_grid.scss */
.container .one-third.column {
  width: 33.33333333%;
}

/* line 28, sass/global/_grid.scss */
.container .two-thirds.column {
  width: 66.66666666%;
}

/* Offsets  */
/* line 31, sass/global/_grid.scss */
.container .offset-by-one {
  padding-left: 6.25%;
}

/* line 32, sass/global/_grid.scss */
.container .offset-by-two {
  padding-left: 12.5%;
}

/* line 33, sass/global/_grid.scss */
.container .offset-by-three {
  padding-left: 18.75%;
}

/* line 34, sass/global/_grid.scss */
.container .offset-by-four {
  padding-left: 25%;
}

/* line 35, sass/global/_grid.scss */
.container .offset-by-five {
  padding-left: 31.25%;
}

/* line 36, sass/global/_grid.scss */
.container .offset-by-six {
  padding-left: 37.5%;
}

/* line 37, sass/global/_grid.scss */
.container .offset-by-seven {
  padding-left: 43.7%;
}

/* line 38, sass/global/_grid.scss */
.container .offset-by-eight {
  padding-left: 50%;
}

/* line 39, sass/global/_grid.scss */
.container .offset-by-nine {
  padding-left: 56.25%;
}

/* line 40, sass/global/_grid.scss */
.container .offset-by-ten {
  padding-left: 62.5%;
}

/* line 41, sass/global/_grid.scss */
.container .offset-by-eleven {
  padding-left: 68.75%;
}

/* line 42, sass/global/_grid.scss */
.container .offset-by-twelve {
  padding-left: 75%;
}

/* line 43, sass/global/_grid.scss */
.container .offset-by-thirteen {
  padding-left: 81.25%;
}

/* line 44, sass/global/_grid.scss */
.container .offset-by-fourteen {
  padding-left: 87.5%;
}

/* line 45, sass/global/_grid.scss */
.container .offset-by-fifteen {
  padding-left: 93.75%;
}

/*  (Portrait)
================================================== */
@media only screen and (orientation: portrait) {
  /* line 53, sass/global/_grid.scss */
  .container {
    width: 100%;
  }

  /* line 54, sass/global/_grid.scss */
  .columns, .column {
    margin: 0;
  }

  /* line 73, sass/global/_grid.scss */
  .container .one.column,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 100%;
  }

  /*300px*/
  /* Offsets */
  /* line 90, sass/global/_grid.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
@font-face {
  font-family: 'Chelsea Market';
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/chelseamarket/v2/qSdzwh2A4BbNemy78sJLfA3qKyi53QElYbtEeYEI7AQ.woff) format("woff");
}

/* line 9, sass/global/_typography.scss */
html * {
  line-height: 1.4em;
}

/* line 13, sass/global/_typography.scss */
p {
  font-size: 1.2em;
}

/* line 16, sass/global/_typography.scss */
h1, h2 {
  font-family: "Chelsea Market", Impact, Arial;
}

/* line 19, sass/global/_typography.scss */
p {
  font-family: "Chelsea Market", Impact, Arial;
  font-size: 1.5em;
}

/* line 24, sass/global/_typography.scss */
h1 {
  font-size: 3em;
  margin: 1em 0 10px 0;
}

/* line 28, sass/global/_typography.scss */
h2 {
  font-size: 1.8em;
  margin: 0 0 20px 0;
}

/* line 33, sass/global/_typography.scss */
h1, h2 {
  text-align: center;
  line-height: 1.2;
  color: #157bb2;
  text-transform: uppercase;
  font-family: "Chelsea Market", Impact, Arial;
}

/* VENDOR PREFIXES*/
/* MEDIA QUERIES */
/* INPUTS  */
/* line 22, sass/global/_mixins.scss */
form input[type="text"],
form input[type="password"],
form input[type="search"],
form input[type="email"],
form textarea {
  margin: 0;
  padding: 3px 10px;
  max-width: 100%;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  font-size: 1em;
}

/* LINKS */
/* line 46, sass/global/_mixins.scss */
.msg-list li, .message-cta {
  -webkit-transition: background-color 0.15s ease-in;
  -moz-transition: background-color 0.15s ease-in;
  -o-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
  font-family: sans-serif;
  text-decoration: none;
  outline: none;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  color: #157bb2;
}
/* line 55, sass/global/_mixins.scss */
.msg-list li:hover, .message-cta:hover, .msg-list li:active, .message-cta:active, .msg-list li:visited, .message-cta:visited {
  color: #00a6ff;
}

/* BUTTONS */
/* line 62, sass/global/_mixins.scss */
form button,
form input[type="submit"],
form input[type="reset"],
form input[type="button"], #create-msg input[type="submit"], .search-giphy .cancel, .view-giphy-thumb button, .msg-body .close {
  -webkit-transition: background-color 0.15s ease-in;
  -moz-transition: background-color 0.15s ease-in;
  -o-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
  font-family: "Chelsea Market", Impact, Arial;
  border: none;
  outline: none;
  margin: 0;
  padding: .4em 1em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

/* line 113, sass/global/_mixins.scss */
[data-fade] {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

/* line 117, sass/global/_mixins.scss */
[data-fade].show {
  opacity: 1;
}

/* line 120, sass/global/_mixins.scss */
[data-fade=".25"] {
  -webkit-transition-delay: 0.25s;
  -moz-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

/* line 121, sass/global/_mixins.scss */
[data-fade=".50"] {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 122, sass/global/_mixins.scss */
[data-fade=".75"] {
  -webkit-transition-delay: 0.75s;
  -moz-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  transition-delay: 0.75s;
}

/* line 123, sass/global/_mixins.scss */
[data-fade="1"] {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

/* line 124, sass/global/_mixins.scss */
[data-fade="1.25"] {
  -webkit-transition-delay: 1.25s;
  -moz-transition-delay: 1.25s;
  -o-transition-delay: 1.25s;
  transition-delay: 1.25s;
}

/* line 125, sass/global/_mixins.scss */
[data-fade="1.5"] {
  -webkit-transition-delay: 1.5s;
  -moz-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

/* line 126, sass/global/_mixins.scss */
[data-fade="1.75"] {
  -webkit-transition-delay: 1.75s;
  -moz-transition-delay: 1.75s;
  -o-transition-delay: 1.75s;
  transition-delay: 1.75s;
}

/* line 127, sass/global/_mixins.scss */
[data-fade="2"] {
  -webkit-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}

/* line 128, sass/global/_mixins.scss */
[data-fade="2.25"] {
  -webkit-transition-delay: 2.25s;
  -moz-transition-delay: 2.25s;
  -o-transition-delay: 2.25s;
  transition-delay: 2.25s;
}

/* line 129, sass/global/_mixins.scss */
[data-fade="2.5"] {
  -webkit-transition-delay: 2.5s;
  -moz-transition-delay: 2.5s;
  -o-transition-delay: 2.5s;
  transition-delay: 2.5s;
}

/* line 130, sass/global/_mixins.scss */
[data-fade="2.75"] {
  -webkit-transition-delay: 2.75s;
  -moz-transition-delay: 2.75s;
  -o-transition-delay: 2.75s;
  transition-delay: 2.75s;
}

/* line 131, sass/global/_mixins.scss */
[data-fade="3"] {
  -webkit-transition-delay: 3s;
  -moz-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
}

/* line 132, sass/global/_mixins.scss */
[data-fade="5"] {
  -webkit-transition-delay: 5s;
  -moz-transition-delay: 5s;
  -o-transition-delay: 5s;
  transition-delay: 5s;
}

/* #Forms
================================================== */
/* line 3, sass/global/_forms.scss */
form {
  width: 100%;
  padding-bottom: 20px;
}
/* line 6, sass/global/_forms.scss */
form dfn {
  font-size: .6em;
  position: relative;
  top: -7px;
  left: -2px;
}
/* line 12, sass/global/_forms.scss */
form legend {
  display: none;
}
/* line 15, sass/global/_forms.scss */
form label {
  color: #157bb2;
  font-weight: bold;
  font-family: "Chelsea Market", Impact, Arial;
  text-transform: uppercase;
}
/* line 26, sass/global/_forms.scss */
form input[type="text"],
form input[type="password"],
form input[type="search"],
form input[type="email"],
form textarea {
  -webkit-transition: border-color 0.4s ease-in;
  -moz-transition: border-color 0.4s ease-in;
  -o-transition: border-color 0.4s ease-in;
  transition: border-color 0.4s ease-in;
  font-family: sans-serif;
  background: white;
  /*		background: rgba($brand2ndHL, .1);*/
  color: #157bb2;
  margin: 5px 0 10px 0;
  border: 2px double #157bb2;
  border-radius: 4px;
  font-weight: bold;
  -webkit-appearance: none;
}
/* line 35, sass/global/_forms.scss */
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="search"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: #ff9b19;
}
/* line 43, sass/global/_forms.scss */
form button,
form input[type="submit"],
form input[type="reset"],
form input[type="button"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  color: white;
  background-color: #157bb2;
  font-size: 1em;
  -webkit-appearance: none;
}
/* line 80, sass/global/_mixins.scss */
form button:hover,
form input[type="submit"]:hover,
form input[type="reset"]:hover,
form input[type="button"]:hover {
  background-color: #00a6ff;
}

/* line 1, sass/pages/_appMain.scss */
body {
  background: white;
  font-family: sans-serif;
  color: #666666;
  -webkit-font-smoothing: antialiased;
}

/* line 8, sass/pages/_appMain.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, sass/pages/_appMain.scss */
h1 {
  margin-top: 0;
}

/* line 15, sass/pages/_appMain.scss */
li {
  list-style-type: none;
}

/* line 18, sass/pages/_appMain.scss */
ul {
  margin: 0;
  padding: 0;
}

/*
*	MAIN NAV / HEADER
*/
/* line 26, sass/pages/_appMain.scss */
header {
  position: relative;
  min-height: 40px;
  width: 100%;
}

/* line 32, sass/pages/_appMain.scss */
.main-nav {
  padding-top: 45px;
  max-height: 0;
  overflow: hidden;
  border-top: 1px solid #ccc;
  background: #ea8400;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: .6s;
}
/* line 40, sass/pages/_appMain.scss */
.main-nav.extended {
  max-height: 400px;
  background: #ea8400;
}
/* line 44, sass/pages/_appMain.scss */
.main-nav li {
  display: block;
  width: 100%;
  padding: 10px 5%;
  background: #ff9b19;
  color: white;
  border-bottom: 1px solid #ea8400;
  cursor: pointer;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  /* line 32, sass/pages/_appMain.scss */
  .main-nav {
    padding-top: 0;
    max-height: inherit;
    background: #ea8400;
    border-bottom: 1px solid #ff9b19;
    text-align: right;
    width: 100%;
  }
  /* line 62, sass/pages/_appMain.scss */
  .main-nav li {
    display: inline-block;
    padding: 1em;
    width: auto;
    margin-right: -3px;
    background: none;
    border: none;
    font-size: .7em;
  }
}

/* NAVIGATION HAMBURGER */
/* line 76, sass/pages/_appMain.scss */
.hamburger {
  position: absolute;
  right: 5%;
  height: 45px;
  background: none;
  border: none;
  padding: 15px;
}
/* line 83, sass/pages/_appMain.scss */
.hamburger:focus {
  outline: none;
}
/* line 86, sass/pages/_appMain.scss */
.hamburger .icon-bar {
  display: block;
  width: 24px;
  height: 3px;
  border-radius: 1px;
  background: white;
}
/* line 93, sass/pages/_appMain.scss */
.hamburger .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media screen and (min-width: 600px) {
  /* line 76, sass/pages/_appMain.scss */
  .hamburger {
    display: none;
  }
}

/* MAIN LOADING INDICATOR*/
/* line 105, sass/pages/_appMain.scss */
#loading {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
  position: fixed;
  z-index: 10000;
  left: 50%;
  top: -150%;
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #ccc;
  background: white url(../images/loading.gif) no-repeat center center;
  background-size: 50%;
}
/* line 121, sass/pages/_appMain.scss */
#loading.loading {
  top: 50%;
  opacity: 1;
}

/* line 128, sass/pages/_appMain.scss */
.ui-message {
  position: fixed;
  width: 100%;
  height: 50%;
  margin-top: 25%;
  display: none;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #157bb2;
  border-radius: 5px;
  text-align: center;
  padding: 20%;
  font-weight: bold;
}

/* PAGES */
/* line 146, sass/pages/_appMain.scss */
#content {
  max-width: 1200px;
  padding: 20px 5%;
}

/* line 1, sass/pages/_home.scss */
h1 strong {
  color: #ea8400;
  margin-bottom: 10px;
}

/* line 8, sass/pages/_home.scss */
#home .description {
  text-align: center;
}
/* line 11, sass/pages/_home.scss */
#home .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 17, sass/pages/_home.scss */
#home .footer .cta {
  width: 50%;
  float: left;
  margin: 0;
  height: 45px;
  border: none;
  text-align: center;
  color: white;
  padding: 3px 0 0 0;
  font-size: .7em;
  cursor: pointer;
}
/* line 28, sass/pages/_home.scss */
#home .footer .cta.search {
  border-right: 1px solid white;
  background: #ea8400 url(../images/search-white.png) no-repeat center bottom;
  background-size: 30px;
}
/* line 33, sass/pages/_home.scss */
#home .footer .cta.new {
  border-left: 1px solid white;
  background: #ea8400 url(../images/new-white.png) no-repeat center bottom;
  background-size: 30px;
}
@media screen and (min-width: 600px) {
  /* line 44, sass/pages/_home.scss */
  #home .description {
    min-height: 300px;
  }
  /* line 47, sass/pages/_home.scss */
  #home .footer {
    position: static;
  }
  /* line 49, sass/pages/_home.scss */
  #home .footer .cta.search, #home .footer .cta.new {
    width: 30%;
    margin: 10%;
    font-size: .8em;
    height: 75px;
    border: none;
    background-size: 80px;
    background-position: center center;
    border-radius: 5px;
    text-indent: -999em;
  }
}

/* line 3, sass/pages/_newmessage.scss */
#create-msg .cta-find-a-gif {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 70px;
  width: 45%;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px dotted #aaa;
  text-align: center;
  line-height: 50px;
}
/* line 15, sass/pages/_newmessage.scss */
#create-msg .cta-find-a-gif.found {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  float: left;
  background-color: #222222;
  border: 2px solid #ea8400;
  text-indent: -999em;
}
/* line 23, sass/pages/_newmessage.scss */
#create-msg input[type="submit"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "Chelsea Market", Impact, Arial;
  color: white;
  background-color: #ea8400;
  margin-top: 10px;
  float: right;
  width: 45%;
}
/* line 80, sass/global/_mixins.scss */
#create-msg input[type="submit"]:hover {
  background-color: #ff9b19;
}
/* line 30, sass/pages/_newmessage.scss */
#create-msg #textMessage {
  padding: 10px;
  height: 75px;
}

/*
*  SEARCH GIPHYS
*/
/* line 6, sass/pages/_searchGiphy.scss */
.search-giphy-container {
  -webkit-transition: bottom 0.3s ease-in;
  -moz-transition: bottom 0.3s ease-in;
  -o-transition: bottom 0.3s ease-in;
  transition: bottom 0.3s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  bottom: 100%;
  left: 0;
  padding: 0 5%;
  background: #157bb2;
  background-image: -webkit-gradient(radial, left top, 0, left top, 895, color-stop(0, #125282), color-stop(1, #1784bf));
  width: 100%;
  height: 100%;
  position: fixed;
}
/* line 17, sass/pages/_searchGiphy.scss */
.search-giphy-container.show {
  bottom: 0;
}
/* line 20, sass/pages/_searchGiphy.scss */
.search-giphy-container h2 {
  color: white;
  padding: 10% 0;
}

/* line 27, sass/pages/_searchGiphy.scss */
.search-giphy {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
/* line 37, sass/pages/_searchGiphy.scss */
.search-giphy header, .search-giphy footer {
  -webkit-box-flex: 0.1;
  -moz-box-flex: 0.1;
  -ms-box-flex: 0.1;
  box-flex: 0.1;
  max-height: 60px;
  min-height: 60px;
  padding: 10px 0;
}
/* line 43, sass/pages/_searchGiphy.scss */
.search-giphy .scrollContainer {
  -webkit-box-flex: 10;
  -moz-box-flex: 10;
  -ms-box-flex: 10;
  box-flex: 10;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-overflow-scrolling: touch;
  border: 2px solid #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 52, sass/pages/_searchGiphy.scss */
.search-giphy .scrollContainer .scroll {
  overflow-x: hidden;
}
/* line 57, sass/pages/_searchGiphy.scss */
.search-giphy form {
  padding: 0;
  margin: 0;
}
/* line 62, sass/pages/_searchGiphy.scss */
.search-giphy input[type="search"] {
  margin: 0;
  border: 2px solid white;
  height: 40px;
}
/* line 68, sass/pages/_searchGiphy.scss */
.search-giphy .cancel {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  color: #157bb2;
  background-color: white;
}
/* line 80, sass/global/_mixins.scss */
.search-giphy .cancel:hover {
  background-color: #00a6ff;
}

/* line 74, sass/pages/_searchGiphy.scss */
.view-giphy-thumb {
  padding: 10px 0;
  background: #222222 url(../images/loading-small.gif) no-repeat center center;
  border: 2px solid #000;
  border-top: none;
  position: relative;
  cursor: pointer;
}
/* line 82, sass/pages/_searchGiphy.scss */
.view-giphy-thumb .image {
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  background-color: #222222;
}
/* line 91, sass/pages/_searchGiphy.scss */
.view-giphy-thumb .image.loading {
  opacity: .3;
}
/* line 96, sass/pages/_searchGiphy.scss */
.view-giphy-thumb button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "Chelsea Market", Impact, Arial;
  color: white;
  background-color: #ea8400;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  font-size: 14px;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  padding: 0;
  border: 2px solid #fff;
  position: absolute;
  right: -100%;
  opacity: 0;
}
/* line 80, sass/global/_mixins.scss */
.view-giphy-thumb button:hover {
  background-color: #ff9b19;
}
/* line 101, sass/pages/_searchGiphy.scss */
.view-giphy-thumb button.show {
  right: 5px;
  bottom: 5px;
  opacity: 1;
}

/* line 1, sass/pages/_previousMessages.scss */
.msg-list li {
  display: block;
  width: 100%;
}

/* line 8, sass/pages/_previousMessages.scss */
.view-message-cta span {
  display: inline-block;
}
/* line 11, sass/pages/_previousMessages.scss */
.view-message-cta .date {
  width: 100px;
  padding: 10px 0;
}

/* line 1, sass/pages/_message.scss */
.msg-container {
  display: table;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 11, sass/pages/_message.scss */
.msg-container * {
  text-align: center;
}
@media only screen and (orientation: portrait) {
  /* line 16, sass/pages/_message.scss */
  .msg-container.portrait {
    background-size: cover;
  }
  /* line 19, sass/pages/_message.scss */
  .msg-container.landscape {
    background-size: contain;
  }
}
@media only screen and (orientation: landscape) {
  /* line 24, sass/pages/_message.scss */
  .msg-container.portrait {
    background-size: contain;
  }
  /* line 27, sass/pages/_message.scss */
  .msg-container.landscape {
    background-size: cover;
  }
}

/* line 34, sass/pages/_message.scss */
.message-cta {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 3px 15px;
  border-top-right-radius: 5px;
  color: #00a6ff;
  border: #157bb2;
  display: block;
  background: white;
}

/* line 49, sass/pages/_message.scss */
.msg-body {
  opacity: 0;
  display: table-cell;
  vertical-align: middle;
}
/* line 53, sass/pages/_message.scss */
.msg-body .close {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "Chelsea Market", Impact, Arial;
  color: white;
  background-color: #ea8400;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
  font-size: 14px;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  padding: 0;
  border: 2px solid #fff;
  position: absolute;
  right: 5px;
}
/* line 80, sass/global/_mixins.scss */
.msg-body .close:hover {
  background-color: #ff9b19;
}

/* line 61, sass/pages/_message.scss */
.msg-container.white-on-black .msg-body .inner {
  padding: 20px 5px;
  background: rgba(0, 0, 0, 0.3);
}
/* line 64, sass/pages/_message.scss */
.msg-container.white-on-black .msg-body .inner h1, .msg-container.white-on-black .msg-body .inner h2, .msg-container.white-on-black .msg-body .inner p {
  color: white;
}
/* line 71, sass/pages/_message.scss */
.msg-container.black-on-white .msg-body .inner {
  padding: 20px 5px;
  margin: 0 2%;
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid black;
}
/* line 76, sass/pages/_message.scss */
.msg-container.black-on-white .msg-body .inner h1, .msg-container.black-on-white .msg-body .inner h2, .msg-container.black-on-white .msg-body .inner p {
  color: #000;
}
