/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*COLORS*/
/*BREAKPOINTS*/
/*FONTS*/
/*Layout*/
/* line 2, sass/global/_grid.scss */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* line 3, sass/global/_grid.scss */
.column, .columns {
  float: left;
  display: inline;
  margin: 0;
}

/* Nested Column Classes */
/* line 6, sass/global/_grid.scss */
.column.alpha, .columns.alpha {
  margin-left: 0;
}

/* line 7, sass/global/_grid.scss */
.column.omega, .columns.omega {
  margin-right: 0;
}

/* Base Grid */
/* line 10, sass/global/_grid.scss */
.container .one.column {
  width: 6.25%;
}

/* line 11, sass/global/_grid.scss */
.container .two.columns {
  width: 12.5%;
}

/* line 12, sass/global/_grid.scss */
.container .three.columns {
  width: 18.75%;
}

/* line 13, sass/global/_grid.scss */
.container .four.columns {
  width: 25%;
}

/* line 14, sass/global/_grid.scss */
.container .five.columns {
  width: 31.25%;
}

/* line 15, sass/global/_grid.scss */
.container .six.columns {
  width: 37.5%;
}

/* line 16, sass/global/_grid.scss */
.container .seven.columns {
  width: 43.7%;
}

/* line 17, sass/global/_grid.scss */
.container .eight.columns {
  width: 50%;
}

/* line 18, sass/global/_grid.scss */
.container .nine.columns {
  width: 56.25%;
}

/* line 19, sass/global/_grid.scss */
.container .ten.columns {
  width: 62.5%;
}

/* line 20, sass/global/_grid.scss */
.container .eleven.columns {
  width: 68.75%;
}

/* line 21, sass/global/_grid.scss */
.container .twelve.columns {
  width: 75%;
}

/* line 22, sass/global/_grid.scss */
.container .thirteen.columns {
  width: 81.25%;
}

/* line 23, sass/global/_grid.scss */
.container .fourteen.columns {
  width: 87%;
}

/* line 24, sass/global/_grid.scss */
.container .fifteen.columns {
  width: 93.75%;
}

/* line 25, sass/global/_grid.scss */
.container .sixteen.columns {
  width: 100%;
}

/* line 27, sass/global/_grid.scss */
.container .one-third.column {
  width: 33.33333333%;
}

/* line 28, sass/global/_grid.scss */
.container .two-thirds.column {
  width: 66.66666666%;
}

/* Offsets  */
/* line 31, sass/global/_grid.scss */
.container .offset-by-one {
  padding-left: 6.25%;
}

/* line 32, sass/global/_grid.scss */
.container .offset-by-two {
  padding-left: 12.5%;
}

/* line 33, sass/global/_grid.scss */
.container .offset-by-three {
  padding-left: 18.75%;
}

/* line 34, sass/global/_grid.scss */
.container .offset-by-four {
  padding-left: 25%;
}

/* line 35, sass/global/_grid.scss */
.container .offset-by-five {
  padding-left: 31.25%;
}

/* line 36, sass/global/_grid.scss */
.container .offset-by-six {
  padding-left: 37.5%;
}

/* line 37, sass/global/_grid.scss */
.container .offset-by-seven {
  padding-left: 43.7%;
}

/* line 38, sass/global/_grid.scss */
.container .offset-by-eight {
  padding-left: 50%;
}

/* line 39, sass/global/_grid.scss */
.container .offset-by-nine {
  padding-left: 56.25%;
}

/* line 40, sass/global/_grid.scss */
.container .offset-by-ten {
  padding-left: 62.5%;
}

/* line 41, sass/global/_grid.scss */
.container .offset-by-eleven {
  padding-left: 68.75%;
}

/* line 42, sass/global/_grid.scss */
.container .offset-by-twelve {
  padding-left: 75%;
}

/* line 43, sass/global/_grid.scss */
.container .offset-by-thirteen {
  padding-left: 81.25%;
}

/* line 44, sass/global/_grid.scss */
.container .offset-by-fourteen {
  padding-left: 87.5%;
}

/* line 45, sass/global/_grid.scss */
.container .offset-by-fifteen {
  padding-left: 93.75%;
}

/*  (Portrait)
================================================== */
@media only screen and (orientation: portrait) {
  /* line 53, sass/global/_grid.scss */
  .container {
    width: 100%;
  }

  /* line 54, sass/global/_grid.scss */
  .columns, .column {
    margin: 0;
  }

  /* line 73, sass/global/_grid.scss */
  .container .one.column,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 100%;
  }

  /*300px*/
  /* Offsets */
  /* line 90, sass/global/_grid.scss */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* VENDOR PREFIXES*/
/* MEDIA QUERIES */
/* INPUTS  */
/* line 22, sass/global/_mixins.scss */
form input[type="text"],
form input[type="password"],
form input[type="search"],
form input[type="email"],
form textarea {
  margin: 0;
  padding: 6px 10px;
  max-width: 100%;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  font-size: 1.2em;
}

/* BUTTONS */
/* line 44, sass/global/_mixins.scss */
form button,
form input[type="submit"],
form input[type="reset"],
form input[type="button"], .cta-find-a-gif, .cta-view-message, .search-giphy-container .cancel {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  border: none;
  outline: none;
  margin: 0;
  padding: .8em 1em;
  display: inline-block;
}

/* #Forms
================================================== */
/* line 3, sass/global/_forms.scss */
form {
  width: 100%;
}
/* line 6, sass/global/_forms.scss */
form legend {
  display: none;
}
/* line 14, sass/global/_forms.scss */
form input[type="text"],
form input[type="password"],
form input[type="search"],
form input[type="email"],
form textarea {
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  font-family: "HelveticaNeue";
  background: white;
  margin: 10px 0;
  border: 1px solid #218abc;
}
/* line 18, sass/global/_forms.scss */
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="search"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border-color: #ea7400;
}
/* line 26, sass/global/_forms.scss */
form button,
form input[type="submit"],
form input[type="reset"],
form input[type="button"] {
  font-family: "HelveticaNeue";
  color: white;
  background-color: #218abc;
  font-size: 1em;
}
/* line 59, sass/global/_mixins.scss */
form button:hover,
form input[type="submit"]:hover,
form input[type="reset"]:hover,
form input[type="button"]:hover {
  background-color: #ea7400;
}

/* line 1, sass/pages/_appMain.scss */
body {
  background: white;
  font-family: "HelveticaNeue";
  color: #666666;
}

/* line 7, sass/pages/_appMain.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, sass/pages/_appMain.scss */
h1 {
  margin-top: 0;
}

/* line 14, sass/pages/_appMain.scss */
li {
  list-style-type: none;
}

/* line 17, sass/pages/_appMain.scss */
ul {
  margin: 0;
  padding: 0;
}

/*
*	MAIN NAV / HEADER
*/
/* line 25, sass/pages/_appMain.scss */
header {
  position: relative;
  min-height: 40px;
  width: 100%;
}

/* line 31, sass/pages/_appMain.scss */
.main-nav {
  padding-top: 40px;
  max-height: 0;
  overflow: hidden;
  transition: .4s;
}
/* line 36, sass/pages/_appMain.scss */
.main-nav.extended {
  max-height: 600px;
}
/* line 39, sass/pages/_appMain.scss */
.main-nav li {
  display: block;
  width: 90%;
  padding: 8px 5%;
  margin: 0 5%;
  background: #fafafa;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

/* line 51, sass/pages/_appMain.scss */
#loading {
  transition: .6s;
  opacity: 0;
  position: fixed;
  z-index: 10000;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 5px;
  border: 2px solid #ccc;
}
/* line 65, sass/pages/_appMain.scss */
#loading #gif {
  width: 100%;
  height: 100%;
  background: transparent url(../images/loading.gif) no-repeat center center;
}

/* line 73, sass/pages/_appMain.scss */
.hamburger {
  position: absolute;
  right: 5%;
  height: 40px;
  background: none;
  border: none;
  padding: 0;
}
/* line 80, sass/pages/_appMain.scss */
.hamburger:focus {
  outline: none;
}
/* line 83, sass/pages/_appMain.scss */
.hamburger .icon-bar {
  display: block;
  width: 24px;
  height: 3px;
  border-radius: 1px;
  background: #218abc;
}
/* line 90, sass/pages/_appMain.scss */
.hamburger .icon-bar + .icon-bar {
  margin-top: 4px;
}

/* PAGES */
/* line 97, sass/pages/_appMain.scss */
#content {
  padding: 20px 5%;
}

/* line 2, sass/pages/_newmessage.scss */
.cta-find-a-gif {
  font-family: "HelveticaNeue";
  color: white;
  background-color: #218abc;
}
/* line 69, sass/global/_mixins.scss */
.cta-find-a-gif:hover {
  background-color: #ea7400;
}

/* line 5, sass/pages/_newmessage.scss */
.cta-view-message {
  font-family: "HelveticaNeue";
  color: white;
  background-color: #218abc;
}
/* line 69, sass/global/_mixins.scss */
.cta-view-message:hover {
  background-color: #ea7400;
}

/* line 9, sass/pages/_newmessage.scss */
#textMessage {
  padding: 10px;
  height: 100px;
}

/*
*  SEARCH GIPHYS
*/
/* line 5, sass/pages/_searchGiphy.scss */
.search-giphy-container {
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  position: fixed;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px 5%;
  margin-bottom: 20px;
  background: #218abc;
}
/* line 18, sass/pages/_searchGiphy.scss */
.search-giphy-container.show {
  top: 0;
}
/* line 22, sass/pages/_searchGiphy.scss */
.search-giphy-container .page {
  width: 100%;
  height: 100%;
}
/* line 27, sass/pages/_searchGiphy.scss */
.search-giphy-container .scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 80%;
  width: 100%;
}
/* line 33, sass/pages/_searchGiphy.scss */
.search-giphy-container .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 5%;
  background: #218abc;
  width: 100%;
  height: 60px;
}
/* line 43, sass/pages/_searchGiphy.scss */
.search-giphy-container .cancel {
  font-family: "HelveticaNeue";
  color: #04577e;
  background-color: white;
  height: 40px;
}
/* line 59, sass/global/_mixins.scss */
.search-giphy-container .cancel:hover {
  background-color: #04577e;
}

/* line 51, sass/pages/_searchGiphy.scss */
.view-giphy-thumb {
  padding: 10px 0;
  background-color: #222;
  border: 2px solid #000;
  border-top: none;
}
/* line 56, sass/pages/_searchGiphy.scss */
.view-giphy-thumb div {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
